*{margin: 0;padding: 0;}
.container{
    width: 100%;
    .orders_status{
        width: 1150px;
        height: 42px;
        margin: 60px auto;
        p{
            width: 50px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            font-feature-settings: 19px;
            float: left;
        }
        .status_main{
            width: 330px;
            height: 28px;
            float: right;
            p{
                width: 96px;
                height: 0px;
                overflow-y: hidden;
                border-top: 2px solid #BEBDBB;
                margin-top: 10px;
                margin-left: 25px;
            }
            ul{
                width: 330px;
                height: 15px;
                list-style: none;
                margin-top: 25px;
                font-size: 12px;
                
                
                li{
                    width: 98px;
                    height: 15px;
                    float: left;
                    position: relative;
                    margin-left: 7px;
                    
                    em{
                        width: 19px;
                        height: 19px;
                        display: block;
                        float: left;
                        margin-right: 95px;
                        position: absolute;
                        top:-22px;
                        left: 11px;
                        background: url(../imgs/order_status_bad.png) no-repeat center center;
                        background-size: 19px 19px;                        
                    }
                    .on{
                        background: url(../imgs/order_status_ok.png) no-repeat center center;
                        background-size: 19px 19px; 
                    }
                }
            }
        }
    }
    .shop_bag_main{
        width: 1150px;
        height: 185px;
        background: palegoldenrod;
        margin: 0 auto;
        ul{
            width: 100%;
            list-style: none;
            li{
                width: 100%;
                height: 135px;
                background: pink;
            };
        }
        .bag_chickout{
            width: 100%;
            height: 50px;
            background: #f8f8f8;
        }
    }
}











