*{margin: 0;padding: 0;}
.contain{
  width:100%;
  height: 610px;
  .main{
    width: 1150px;
    height: 610px;
    margin: 0 auto;
    .down_app{
      width: 430px;
      height: 360px;
      margin:110px 80px;
      float: left;
      img{
        width: 430px;
        height: 360px;
      }
    }
    .login_label{
      width: 305px;
      height: 360px;
      float: left;
      margin:150px 80px;
      font-size: 12px;
      #phone_num{
        width: 280px;
        height: 30px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
      }
      span{
        display: block;
        width: 21px;
        height: 30px;
        float: right;
        display: none;
        background:url("../imgs/chick.png") no-repeat center center ;
      }
      .image_verify_code{
        width: 305px;
        height: 30px;
        margin-top: 40px;
        #image_verify_code{
          width: 190px;
          height: 30px;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
        }
      }
      .phone_verify_code{
        width: 305px;
        height: 30px;
        margin-top: 40px;
        #phone_verify_code{
          width: 190px;
          height: 30px;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          float: left;
        }
        b{
          display: block;
          width: 80px;
          height: 30px;
          border: 1px solid #e74c3c;
          float: left;
          border-radius: 4px;
          text-align: center;
          line-height: 30px;
          margin-right: 3px;
          color: #e74c3c;
          font-weight: 500;
          margin-left: 3px;
        }
      }
      .log_submit{
        width: 280px;
        height: 30px;
        margin-top: 40px;
        border-radius: 3px;
        background: #e74c3c;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        .register{
          font-weight: 500;
        }
      }
      .registration_protocol{
        width: 275px;
        height: 30px;
        margin-top: 20px;
        color: #CCCCCC;
        text-align: center;
        a{
          color: #CCCCCC;
        }
      }
      .go_login{
        font-weight: 500;
        text-align: center;
        a{
          color: #e74c3c;
          text-decoration: none;
          img{
            margin-left: 16px;
            border: 0;
          }
        }
      }
    }
  }
}