<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
    	<link rel="stylesheet" type="text/css" href="../css/header.css"/>
    	<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/cart.css"/>
		<script src="../lib/requirejs/require.js" data-main="/js/cart"></script>
	</head>
	<body>
		<div class="header"></div>
		<div class="container">
			<div class="orders_status">
				<p>购物袋</p>
		    	<div class="status_main">
					<p class="line_l">1</p><p class="line_2">2</p>
					<ul>
						<li><em class="on"></em>购物袋</li>
						<li class="m"><em></em>填写订单</li>
						<li class="l"><em></em>完成付款</li>
					</ul>
				</div>
			</div>
			<div class="shop_bag_main">
				<ul>
					<li class="product_select">
						<input class="check" type="checkbox" name="goods" checked="True">
						<em class="on"></em>
					</li>
					<li class="product_message">
						<dl>
							<dt>
								<a href="#"><img src="../imgs/product.jpg"/></a>
							</dt>
							<dd>
                        		<h4>蓝莓酒 100ml</h4>
                        		<p>
	                            	<span>颜色：100ml</span>
                            		<span>尺码：均码</span>
                            	</p>
                            	<h3><img src="../imgs/sf.png" alt="">品牌商发货</h3>
							</dd>
						</dl>
					</li>
					<li class="product_price">¥<span class="p_price">69.00</span></li>
					
					<li class="product_amount">
						<div>
							<span class="reduce">-</span>
							<input type="text" class="g_quantity" readonly="true" value="1">
							<span class="add">+</span>
						</div>
						<p></p>
					</li>
					<li class="product_subtotal">¥<span class="submoney">69.00</span></li>
					<li class="product_chickout"><em class="del"></em></li>
				</ul>
				<div class="product_del">
					<p>
						<input type="checkbox" id="selectAll">
						<em class="on"></em>
						<label for="selectAll">全选</label>
					</p>
					<dl>
			            <dt><p>总计：<span id="totle">¥69.00</span></p></dt>
			            <dd><a href="/cart/settlement">去结算</a></dd>
					</dl>
				</div>
			</div>
			<div class="recommend_good">
				<h5>热门推荐</h5>
				<div class="goods_list">
					<!--<dl>
						<a href="#">
							<dt><img src="../imgs/bed.jpg"></dt>
							<dd>
								<p class="goods_introduce">dsdfasdf</p>
								<p class="goods_price">
									<span class="special_price">¥259.00</span>
									<span class="market_price">¥299.00</span>
								</p>
							</dd>
						</a>
					</dl>-->
				</div>
			</div>
			
			<script type="text/html" id="goods_introduce">
				<% for(var i=0;i<cart_hot_list.length;i++){
					var prod=cart_hot_list[i];
				%>
				<dl>
					<a href="shop_details.html">
						<dt><img src="<%=prod.imgSrc%>"></dt>
						<dd>
							<p><%=prod.detail %></p>
							<p>
								<span> <%=prod.special_price %> </span>
								<span> <%=prod.market_price %> </span>
							</p>
						</dd>
					</a>
				</dl>
				<% } %>
			</script>     
			
			
			
		</div>
		<div class="footer"></div>
	</body>
</html>
